version: "3.8"

services:
    # Inventory Service
    inventory-service:
        build: .
        container_name: inventory-service
        environment:
            SPRING_PROFILES_ACTIVE: prod
            DB_HOST: ${DB_HOST}
            DB_PORT: 3306
            DB_NAME: quickcommerce
            DB_USERNAME: ${DB_USERNAME}
            DB_PASSWORD: ${DB_PASSWORD}
        ports:
            - "8081:8081"
        networks:
            - inventory-network
        healthcheck:
            test: [ "CMD", "curl", "-f", "http://localhost:8081/actuator/health" ]
            timeout: 10s
            retries: 5
            start_period: 60s

    # Catalog Service
    catalog-service:
        build: .
        container_name: catalog-service
        environment:
            SPRING_PROFILES_ACTIVE: prod
            DB_HOST: ${DB_HOST}
            DB_PORT: 3306
            DB_NAME: quickcommerce
            DB_USERNAME: ${DB_USERNAME}
            DB_PASSWORD: ${DB_PASSWORD}
        ports:
            - "8082:8082"
        networks:
            - inventory-network
        healthcheck:
            test: [ "CMD", "curl", "-f", "http://localhost:8082/actuator/health" ]
            timeout: 10s
            retries: 5
            start_period: 60s

networks:
    inventory-network:
        driver: bridge
